--extra-index-url https://download.pytorch.org/whl/cpu
torch
fastapi
uvicorn
python-multipart
pdfminer.six
sentence-transformers
scikit-learn
python-dotenv
supabase
apscheduler
beautifulsoup4
requests